*{
    margin:0;
    padding: 0;
}

header{    
padding: 30px 0;
}
.header_wrapper{
    width: 90%;  
    display: flex;
    justify-content: space-between;  
    margin: auto;    
    align-items: center;
}
.logo{ 
    width: 20%;   

}
.logo img{

}
.menu{
    width: 50%;
    
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
.menu ul li{

}
.menu ul li a{
color: #3a3a3a;
text-decoration: none;
margin-left: 30px;
text-transform: uppercase;
}

.banner{
    position: relative;
    /* margin-top: 25px; */
}
.banner img{
    width: 100%;
    
}

.brand{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.brand h1{
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.brand h3{
    font-size: 20px;
    color: azure;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;

}


.brand button{
        padding: 15px 30px;
        background: #fb6e52;
        border: 1px solid whitesmoke ;
        color: aliceblue;
        text-transform: capitalize;
        font-size: 18px;
        text-align: center;
        border-radius: 7px;
        font-family: 'Roboto', sans-serif;
        
}


.content1{
    /* width: 80%;
    margin: auto; */
    /* padding: 50px 0; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content1_item{
    width: 31%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
.content1_item img{
    width: auto;
    
}
.content1_item h1{
    font-size: 33px;
    text-align: left;
    color: #626262;
    font-weight: 200;
    margin: 20px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.content1_item p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: justify;
    color: #626262;
    margin: 30px 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.service_message{
    width: 60%;
    margin: auto;
}

.service_message h1{
    width: 80%;
    color: #fb6e52;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 70px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}
.main_service{
    display: flex;
    justify-content: space-between;
    margin: auto;
   
    
}
.main_service_item{
    width: 31%;
    justify-content: space-between;
    text-align: center;
}
.main_service_item img{
    width: 100%;

}

.main_service_item h1{
    color: #fb6e52;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;

}
.main_service_item p{

    margin-top: 20px;
}
.blog{
    
   
   

}
.heading{
    text-align: center;
}
.heading h1{
    color: #797c82;
    font-size: 32px;
    padding: 40px;
    text-transform: capitalize;
}
.web_service{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.web_service_item{
    width: 45%;
    justify-content: space-between;
    text-align: center;

}
.web_service_item img{
    width: 100%;
}

.web_service_item h1{margin: 29px 0;}

.web_service_item p{

margin: 37px 0;
}
footer{
    background-color: #292c34;
    width: 100%;
    padding: 30px 0;
}
.footer_wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.term{

}
.term ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.term ul li{
    margin-left: 15px;
}
.term ul li a{
    color: #797c82;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 15px;

}
.social_icon{
}
.social_icon ul{
    list-style: none;
    display: flex;
    justify-content: end;

}
.social_icon ul li{

}
.social_icon ul li a{

    text-decoration: none;
    margin-left: 20px;
    color:aliceblue;
}
